/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* RPS text styling */
.rps-text {
    font-size: 3em;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

/* Container styling */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Form styling */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    padding-left: 30px; /* Space for icon */
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Separator */
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

/* Links */
a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}

.container img {
    width: 50px;
    margin-bottom: 20px;
}

/* Admin login button */
.admin-login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.admin-login-btn:hover {
    background-color: #008204;
}
h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Styling the password container and the icon button */
.password-container {
    position: relative;
    width: 100%;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: #4CAF50;
}